In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('data.csv', encoding='latin-1')

In [3]:
new_list = []
for i in range(len(df)):
    cleaned_text_a = re.sub(r'[^a-zA-Z0-9]'," " ,df['Tweet'].iloc[i])
    cleaned_text_b = re.sub('RT',' ', cleaned_text_a)
    cleaned_text_c = re.sub('\\+n',' ', cleaned_text_b)
    cleaned_text_d = re.sub('rt',' ', cleaned_text_c)
    cleaned_text_e = re.sub('user',' ', cleaned_text_d)
    cleaned_text_f = re.sub('USER',' ', cleaned_text_e)
    cleaned_text_g = re.sub('((www\.[^\s]+)|(https?://[^\s]+)|(http?://[^\s]+))',' ', cleaned_text_f)
    cleaned_text_h = re.sub(':',' ', cleaned_text_g)
    cleaned_text_i = re.sub(';',' ', cleaned_text_h)
    cleaned_text_j = re.sub('\\+',' ', cleaned_text_i)
    cleaned_text_k = re.sub('  +',' ', cleaned_text_j)
    cleaned_text_l = re.sub('x..',' ', cleaned_text_k)
    cleaned_text_m = re.sub(' n ',' ', cleaned_text_l)
    new_list.append(cleaned_text_m)
    
new_df = df.copy()

new_df['Tweet'] = new_list
    
final_df = pd.concat([df['Tweet'],new_df['Tweet']],axis=1)
final_df.columns = ['old','new']

In [4]:
final_df

,old,new
0,- disaat semua cowok berusaha melacak perhatia...,disaat semua cowok berusaha melacak perhatian...
1,RT USER: USER siapa yang telat ngasih tau elu?...,siapa yang telat ngasih tau elu edan sarap gu...
2,"41. Kadang aku berfikir, kenapa aku tetap perc...",41 Kadang aku berfikir kenapa aku tetap percay...
3,USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...,AKU ITU AKU nKU TAU MATAMU SIPIT TAPI DILIAT ...
4,USER USER Kaum cebong kapir udah keliatan dong...,Kaum cebong kapir udah keliatan dongoknya dar...
...,...,...
13164,USER jangan asal ngomong ndasmu. congor lu yg ...,jangan asal ngomong ndasmu congor lu yg sekat...
13165,USER Kasur mana enak kunyuk',Kasur mana enak kunyuk
13166,USER Hati hati bisu :( .g\n\nlagi bosan huft \...,Hati hati bisu g nlagi bosan huft
13167,USER USER USER USER Bom yang real mudah terdet...,Bom yang real mudah terdeteksi bom yang terku...
13168,"USER Mana situ ngasih("": itu cuma foto ya kuti...",Mana situ ngasih itu cuma foto ya kutil onta

In [17]:
import sqlite3

conn = sqlite3.connect('clean.db')
conn.execute("create table if not exists cleansing_result_b (raw_tweet varchar(255), cleaned_tweet varchar(255));")

In [19]:
final_df.to_sql('cleansing_result_b', conn, if_exists='replace', index=False)

13169

In [22]:
select_all = "select * from cleansing_result_b"
cursor = conn.execute(select_all)
all_rows = cursor.fetchall()

In [20]:
query = "SELECT * FROM cleansing_result_b"  # Gantilah 'cleansing_result_b' dengan nama tabel yang sesuai
df_sql = pd.read_sql_query(query, conn)

In [21]:
df_sql

,old,new
0,- disaat semua cowok berusaha melacak perhatia...,disaat semua cowok berusaha melacak perhatian...
1,RT USER: USER siapa yang telat ngasih tau elu?...,siapa yang telat ngasih tau elu edan sarap gu...
2,"41. Kadang aku berfikir, kenapa aku tetap perc...",41 Kadang aku berfikir kenapa aku tetap percay...
3,USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...,AKU ITU AKU nKU TAU MATAMU SIPIT TAPI DILIAT ...
4,USER USER Kaum cebong kapir udah keliatan dong...,Kaum cebong kapir udah keliatan dongoknya dar...
...,...,...
13164,USER jangan asal ngomong ndasmu. congor lu yg ...,jangan asal ngomong ndasmu congor lu yg sekat...
13165,USER Kasur mana enak kunyuk',Kasur mana enak kunyuk
13166,USER Hati hati bisu :( .g\n\nlagi bosan huft \...,Hati hati bisu g nlagi bosan huft
13167,USER USER USER USER Bom yang real mudah terdet...,Bom yang real mudah terdeteksi bom yang terku...
13168,"USER Mana situ ngasih("": itu cuma foto ya kuti...",Mana situ ngasih itu cuma foto ya kutil onta